.Line {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.Line.rows {
    align-items: flex-start;
    flex-direction: column;
}

.square {
    background-color: red;
    width: 50px;
    height: 50px;
}