.Box {
    background-color: #e1e1e1;
    padding: 20px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 1px #333;
    margin: 20px;
}

.Box>.content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}